In [1]:
import pandas as pd
training_data = pd.read_csv('linear_regression_data.csv')
scoring_data = pd.read_csv('deployment_data.csv')

In [2]:
training_data.isnull().values.any()
print(f'Is there any null value in training_data?? {training_data.isnull().values.any()}')
training_data[training_data.isnull().any(axis = 1)]

Is there any null value in training_data?? False

Empty DataFrame
Columns: [Insulation, Temperature, Heating_Oil, Num_Occupants, Avg_Age, Home_Size]
Index: []

In [3]:
scoring_data.isnull().values.any()
print(f'Is there any null value in scoring_data?? {scoring_data.isnull().values.any()}')
scoring_data[scoring_data.isnull().any(axis = 1)]

Is there any null value in scoring_data?? False

Empty DataFrame
Columns: [Insulation, Temperature, Num_Occupants, Avg_Age, Home_Size]
Index: []

In [4]:
training_data.describe()

,Insulation,Temperature,Heating_Oil,Num_Occupants,Avg_Age,Home_Size
count,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000,1218.000000
mean,3.785714,65.078818,197.394089,3.113300,42.706404,4.649425
std,2.768094,16.932425,56.248267,1.690605,15.051137,2.321226
min,0.000000,38.000000,114.000000,1.000000,15.100000,1.000000
25%,1.000000,49.000000,148.250000,2.000000,29.700000,3.000000
50%,4.000000,60.000000,185.000000,3.000000,42.900000,5.000000
75%,6.000000,81.000000,253.000000,4.000000,55.600000,7.000000
max,8.000000,90.000000,301.000000,10.000000,72.200000,8.000000

In [5]:
scoring_data.describe()

         Insulation   Temperature  Num_Occupants       Avg_Age     Home_Size
count  42650.000000  42650.000000   42650.000000  42650.000000  42650.000000
mean       4.010996     63.962087       5.489285     44.040131      4.495193
std        2.575511     15.313351       2.874612     16.736901      2.290911
min        0.000000     38.000000       1.000000     15.000000      1.000000
25%        2.000000     51.000000       3.000000     29.500000      3.000000
50%        4.000000     64.000000       5.000000     44.100000      4.000000
75%        6.000000     77.000000       8.000000     58.600000      6.000000
max        8.000000     90.000000      10.000000     73.000000      8.000000

In [6]:
print(scoring_data.columns)

Index(['Insulation', 'Temperature', 'Num_Occupants', 'Avg_Age', 'Home_Size'], dtype='object')

In [7]:
training_data.columns

Index(['Insulation', 'Temperature', 'Heating_Oil', 'Num_Occupants', 'Avg_Age',
       'Home_Size'],
      dtype='object')

In [8]:
x = training_data.drop(['Heating_Oil'],axis=1)
y = training_data.Heating_Oil

In [9]:
x.head()

   Insulation  Temperature  Num_Occupants  Avg_Age  Home_Size
0           4           74              4     23.8          4
1           0           43              4     56.7          4
2           7           81              2     28.0          6
3           1           50              4     45.1          3
4           8           80              5     20.8          2

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [13]:
lr = LinearRegression()
lr.fit(x_train, y_train)
y_train_predicted = lr.predict(x_train)
y_test_predicted = lr.predict(x_test)

In [14]:
y_test_predicted[:10]

array([140.68569275, 178.90073073, 166.31813194, 269.83564469,
       174.85136546, 241.71792662, 155.20921475, 228.87621781,
       145.26716374, 125.82770535])

In [15]:
from sklearn.metrics import mean_squared_error
train_mse = mean_squared_error(y_true = y_train, y_pred = y_train_predicted)
test_mse = mean_squared_error(y_true = y_test, y_pred = y_test_predicted)
print('train_mse:', train_mse)
print('test_mse:', test_mse)

train_mse: 544.5189532850945
test_mse: 636.9135037893492

In [17]:
for col , coef in zip(x_train.columns, lr.coef_):
    print(f'{col :15s}|{coef :^15.4f}|')

Insulation     |    -2.9432    |
Temperature    |    -0.8926    |
Num_Occupants  |    -0.6188    |
Avg_Age        |    1.9980     |
Home_Size      |    2.9586     |

In [19]:
y_predicted = lr.predict(scoring_data)
scoring_data['Predicted_Heating_Oil'] = y_predicted
scoring_data

,Insulation,Temperature,Num_Occupants,Avg_Age,Home_Size,Predicted_Heating_Oil
0,5,69,10,70.1,7,247.590962
1,5,80,1,66.7,1,218.796896
2,6,89,9,67.8,7,222.819599
3,3,81,9,52.4,6,205.062138
4,6,58,8,22.9,7,161.398431
...,...,...,...,...,...,...
42645,3,63,9,59.1,8,240.432344
42646,3,84,1,43.6,5,186.793835
42647,8,67,1,27.3,4,151.725711
42648,2,58,1,65.7,3,251.182496
42649,3,85,5,56.9,8,218.875230

In [22]:
print(f' sum  of heating oils: {scoring_data.Predicted_Heatin_Oil.sum() :^15.4f} \n '
      f'mean of heating oils: {scoring_data.Predicted_Heatin_Oil.mean():^15.4f}')

AttributeError: 'DataFrame' object has no attribute 'Predicted_Heatin_Oil'